# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

#Data files
*.xlsx
*.json

*.png

#Environment files


tm_research/.env
tm_research/data/processed/train_processed.csv
tm_research/data/processed/val_processed.csv
*.csv
# Tensor files
*.pt
*.pth
*.ckpt
*.safetensors
*.bin
emotion_classifier_model/model.safetensors
*.safetensors
